body {
  margin: 0;
  font-family: Arial;
  color: #505050;
}
body.index {
  background-color: gray;
}
header {
  z-index: 1001;
}
header img.background {
  width: 100%;
}
header img.logo {
  width: 13%;
  position: absolute;
  top: 5px;
  left: 25px;
}
#main img.logo {
  max-height: 150px;
  max-width: 75%;
}
input {
  padding-left: 15px;
  line-height: 42px;
  font-size: 16px;
  border: 1px #69D2E7 solid;
}
input:focus {
  outline: 3px #69D2E7 solid;
}
button {
  background-color: #69D2E7;
  padding: 15px;
  color: white;
  text-decoration: none;
  border: 0;
  font-size: 16px;
  border-right: solid 6px #A7DBD8;
}
button:hover,
button:focus {
  background-color: #A7DBD8;
  cursor: pointer;
  outline: none;
}
#main {
  margin-top: -10%;
}
#callToAction {
  padding-top: 10%;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
}
#callToAction h3 {
  margin-bottom: 35px;
}
.make-pizza-button {
  margin-bottom: 50px;
}
.make-pizza-button > a {
  background-color: #69D2E7;
  padding: 15px;
  color: white;
  text-decoration: none;
  border-right: solid 6px #A7DBD8;
}
.make-pizza-button > a:hover,
.make-pizza-button > a:focus {
  background-color: #A7DBD8;
}
.user {
  position: absolute;
  color: white;
  right: 25px;
  top: 15px;
}
.user a {
  color: white;
  text-decoration: none;
}
.user a:hover,
.user a:focus {
  opacity: .8;
}
#more {
  background: white;
  overflow: hidden;
  text-align: center;
}
.pizza-boxes {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}
.pizza-boxes li {
  padding: 20px;
  min-width: 65px;
  min-height: 65px;
  margin: 0 20px 15px;
}
.pizza-boxes li img {
  height: 100px;
  width: 100px;
}
.pizza-boxes li:nth-child(3n+1) {
  background-color: #69D2E7;
  border-right: solid 6px #A7DBD8;
}
.pizza-boxes li:nth-child(3n+2) {
  background-color: #A7DBD8;
  border-right: solid 6px #CFEFED;
}
.pizza-boxes li:nth-child(3n+3) {
  background-color: #F38630;
  border-right: solid 6px #FDBD8A;
}
.pizza-boxes li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer {
  text-align: center;
  background-color: #F38630;
  color: white;
  padding: 35px 0;
  width: 100%;
}
footer a {
  color: white;
}
#login {
  padding: 5% 0 10%;
  text-align: center;
}
#login .register-link {
  margin-top: 35px;
}
#login .register-link > a {
  color: #5f5f5f;
  font-size: 16px;
}

/*--------------------------pizza-------------------------------*/

#viewPizza {
  text-align: center;
  margin-bottom: 75px;
}
#viewPizza .title {
  width: 100%;
  background: #69D2E7;
  color: white;
  padding: 10px 0;
  margin-bottom: 20px;
}
#viewPizza .title .pizza-name {
  font-size: 32px;
  margin-right: 10px;
}
#viewPizza .title a {
  text-decoration: none;
  color: white;
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
}
#viewPizza .title a:hover,
#viewPizza .title a:focus {
  text-decoration: underline;
}
#viewPizza .pizza-image {
  display: inline-block;
  margin: 0 50px;
  max-width: 80%;
}
#viewPizza .pizza-toppings {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
#viewPizza .pizza-toppings ul {
  padding-left: 0;
}
#viewPizza .pizza-toppings ul li {
  list-style-type: none;
}

/*--------------------------make.pizza-------------------------------*/
#makePizza {
  padding: 0 0 10%;
  overflow: hidden;
}
#makePizza > h1 {
  text-align: center;
}
#toppingSection {
  margin-left: 25px;
  display: inline-block;
  position: absolute;
}
#pizzaSection {
  margin-left: 2%;
  display: inline-block;
}
#pizzaSection .name {
  margin-bottom: 15px;
}
#pizzaSection .name input {
  width: 310px;
}

#pizzaSection #pizza {
  border: solid 1px #69D2E7;
}
#toppingSection #toppings {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
#toppingSection #toppings li {
  list-style-type: none;
  width: 120px;
  text-align: center;
  margin: 5px;
  padding: 10px;
}
#toppingSection #toppings img {
  max-width: 100px;
}
#toppingSection #toppings .topping.added {
  background-color: #A7DBD8;
  color: white;
}

/*--------------------------register-------------------------------*/

#registerForm {
  text-align: center;
  padding: 5% 0 10%;
}

#registerForm input,
#registerForm button {
  display: block;
  margin: 0 auto 15px;
}

/*--------------------------user-------------------------------*/

#userInfo {
  text-align: center;
}
